.App {
  text-align: center;
}

.greeting {
  font-size: 20px;
  color: greenyellow
}

.question {
  font-size: 25px;
}

.btnAnswer:hover {
  background: green;
  color: black;
}

.btnAnswer {
  background-color: beige;
  color: #36454F;
  margin: 0 auto;
  width: 200px;
  font-size: 15px;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.Scorewrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #f5f5f5;
}

h3.incorrect {
  display: inline-block;
  margin: 0.3em;
  vertical-align: middle;
}

.incorrect {
  display: inline-block;
  margin: 1em;
  vertical-align: middle;
}